<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">ERP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']" routerLinkActive="router-link-active" >Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/profile']" routerLinkActive="router-link-active" >Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/cpanel']" routerLinkActive="router-link-active" >CPanel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Logout</a>
        </li>
      </ul>
    </div>
  </nav>