<h2>Cpanel home</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <ul class="list-group">
                <li class="list-group-item"><a [routerLink]="['./student']">Student</a></li>
                <li class="list-group-item"><a [routerLink]="['./tutor']">Teacher</a></li>
                <li class="list-group-item"><a [routerLink]="['./batch']">Batch</a></li>
                <li class="list-group-item"><a [routerLink]="['./department']">Department</a></li>
                <li class="list-group-item"><a [routerLink]="['./subject']">Subject</a></li>
                <li class="list-group-item"><a [routerLink]="['./designation']">Designation</a></li>
            </ul>
            
        </div>
        <div class="col-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>