<h3>Register new Teacher</h3>
<form #tutorForm = 'ngForm' (ngSubmit)="onSubmit()">
        
    <div class="form-group">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" class="form-control" [(ngModel)]="tutor.user.name" #name="ngModel" pattern="([a-zA-Z]+\s?)?([a-zA-Z]+)" required>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          <span *ngIf="name.errors?.required">Name is required!</span>
          <span *ngIf="name.errors?.pattern">Please enter a valid name!</span>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email: </label>
        <input type="email" name="email" id="email" class="form-control" [(ngModel)]="tutor.email" #email="ngModel"
          required pattern="^[a-z][\w]+@isquareit.edu.in$">
        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
          <span *ngIf="email.errors?.required">Email is required!</span>
          <span *ngIf="email.errors?.pattern">Please enter a valid email</span>
        </div>
      </div>
    <div class="form-group">
        <label for="userName">Username: </label>
        <input type="text" name="userName" id="userName" class="form-control" [(ngModel)]="tutor.user.userName"
          #userName="ngModel" required pattern="[a-z][\w]+">
        <div class="alert alert-danger" [hidden]="userName.valid || userName.pristine">
          <span *ngIf="userName.errors?.required">Username is required!</span>
          <span *ngIf="userName.errors?.pattern">Please enter a valid username</span>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" class="form-control" [(ngModel)]="tutor.user.password"
          #password="ngModel" required>
        <div class="alert alert-danger" [hidden]="password.valid || password.pristine">
          Password is required!
        </div>
      </div>
      <div class="form-group">
        <!-- TODO: add a custom validator for matching password and confirmPassword -->
        <label for="confirmPassword">Confirm password:</label>
        <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
          ngModel #confirmPassword="ngModel" required pattern="{{password.value}}">
          <div class="alert alert-danger" [hidden]="confirmPassword.valid || confirmPassword.pristine">
            <span *ngIf="confirmPassword.errors?.required">Confirm password is required</span>
            <span *ngIf="confirmPassword.errors?.pattern">Confirm password must match Password!</span>
          </div>
      </div>
    
      
      <div class="form-group">
        <label for="designation">Designation:</label>
        <select name="designation" id="designation" class="form-control" [(ngModel)]="tutor.user.designation" required>
          <option *ngFor="let designation of designations" [value]="designation._id">{{designation.title}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="department">Department: </label>
        <select name="department" id="department" class="form-control" [(ngModel)]="tutor.department" required>
          <option *ngFor="let dept of departments" [value]="dept._id">{{dept.title}}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!tutorForm.form.valid">Register</button>
    </form>
    <br><br>