<div class="container">
    <div class="row justify-content-start">
      <div class="col-4">
        One of two columns
      </div>
      <div class="col-4">
        One of two columns
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        One of two columns
      </div>
      <div class="col-4">
        One of two columns
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-4">
        One of two columns
      </div>
      <div class="col-4">
        One of two columns
      </div>
    </div>
    <div class="row justify-content-around">
      <div class="col-4">
        One of two columns
      </div>
      <div class="col-4">
        One of two columns
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="col-4">
        One of two columns
      </div>
      <div class="col-4">
        One of two columns
      </div>
    </div>
  </div>


  <hr>
  <div class="container">
    <div class="row">
      <div class="col align-self-start">
        One of three columns
      </div>
      <div class="col align-self-center">
        One of three columns
      </div>
      <div class="col align-self-end">
        One of three columns
      </div>
    </div>
  </div>